/*
Aqui escribe tu codigo de CSS.
*/
html, body {
height: 100%;
}
html{
display: table;
margin: auto;
}
body {
display: table-cell;
vertical-align: middle;
}
div {
    height: 100px;
    width: 350px;
    border-radius: 10px;
    margin: 10px 10px 10px 50px;
    display: inline-table;
    text-align:center;
    border-style: outset;
    border-color: #FFF;
}
a{
color: #000000;
}

.bodytwo{display: none;}

p {line-height: 100px;
font-family: "Times New Roman", Times, serif;
}

.cuadro7{
    display: none;
    height: 20px;
    width: 1190px;
    border-radius: 10px;
    margin: 10px 10px 10px 50px;
}

body p {
    margin: 30px 1px -60px 500px;
    color:#ffffff;
    text-shadow: 5px 5px 5px #FF0000;
    height: 30px;
    width: 650px;
    border-radius: 10px;
    display: inline-table;
    text-align:center;
    border-style: outset;
    border-color: #FFF;
}
img {
margin: -10px 1px 1px 50px;
    height: 50px;
    width: 300px;
}

.one {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}
audio {
    margin: 50px 1px 1px 50px;
}
